body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f3bedf;
    color: #703c3c;
    margin: 0;
    padding: 0;
}

.carousel img {
  width: 100% ;
  height: auto;
  object-fit: contain;
  background-color: #f3bedf;
}

p {
    font-size: 18px;
}

.navbar {
    background-color: #e05b99;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #8a1830 !important;
}
